@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--start-angle:0deg;
	--angle-180:180deg;
	--radial-gradient-gold: #f2a36600 25deg,#f2a366 43.4deg, #fbe3d100 60deg, #101419cc 0, #fff0 310deg, #101419cc 408.4deg;
	--radial-gradient-blue: #f2a36600 25deg, #a3b8d6 43.4deg, #fbe3d100 60deg, #101419cc 0, #fff0 310deg, #101419cc 408.4deg;
	--conic-gradient-white:#ffffff14 -54deg, #f7c8a3 50.4deg, #fbe3d10d 126deg, #fbe3d1 234deg, #ffffff14 306deg, #f7c8a3 410.4deg;
}

@keyframes goldToblue-gradient-rotate {
  0%, to {
    background: conic-gradient(from var(--start-angle) at 50% 50%,var(--radial-gradient-gold));
  }

  2% {
    background: conic-gradient(from calc(var(--start-angle) + 7.2deg) at 50% 50%,var(--radial-gradient-gold));
  }

  4% {
    background: conic-gradient(from calc(var(--start-angle) + 14.4deg) at 50% 50%,var(--radial-gradient-gold));
  }

  6% {
    background: conic-gradient(from calc(var(--start-angle) + 21.6deg) at 50% 50%,var(--radial-gradient-gold));
  }

  8% {
    background: conic-gradient(from calc(var(--start-angle) + 28.8deg) at 50% 50%,var(--radial-gradient-gold));
  }

  10% {
    background: conic-gradient(from calc(var(--start-angle) + 36deg) at 50% 50%,var(--radial-gradient-gold));
  }

  12% {
    background: conic-gradient(from calc(var(--start-angle) + 43.2deg) at 50% 50%,var(--radial-gradient-gold));
  }

  14% {
    background: conic-gradient(from calc(var(--start-angle) + 50.4deg) at 50% 50%,var(--radial-gradient-blue));
  }

  16% {
    background: conic-gradient(from calc(var(--start-angle) + 57.6deg) at 50% 50%,var(--radial-gradient-blue));
  }

  18% {
    background: conic-gradient(from calc(var(--start-angle) + 64.8deg) at 50% 50%,var(--radial-gradient-blue));
  }

  20% {
    background: conic-gradient(from calc(var(--start-angle) + 72deg) at 50% 50%,var(--radial-gradient-blue));
  }

  22% {
    background: conic-gradient(from calc(var(--start-angle) + 79.2deg) at 50% 50%,var(--radial-gradient-blue));
  }

  24% {
    background: conic-gradient(from calc(var(--start-angle) + 86.4deg) at 50% 50%,var(--radial-gradient-blue));
  }

  26% {
    background: conic-gradient(from calc(var(--start-angle) + 93.6deg) at 50% 50%,var(--radial-gradient-gold));
  }

  28% {
		background: conic-gradient(from calc(var(--start-angle) + 100.8deg) at 50% 50%,var(--radial-gradient-gold));
  }

  30% {
    background: conic-gradient(from calc(var(--start-angle) + 108deg) at 50% 50%,var(--radial-gradient-gold));
  }

  32% {
    background: conic-gradient(from calc(var(--start-angle) + .32turn) at 50% 50%,var(--radial-gradient-gold));
  }

  34% {
    background: conic-gradient(from calc(var(--start-angle) + .34turn) at 50% 50%,var(--radial-gradient-gold));
  }

  36% {
    background: conic-gradient(from calc(var(--start-angle) + .36turn) at 50% 50%,var(--radial-gradient-gold));
  }

  38% {
    background: conic-gradient(from calc(var(--start-angle) + .38turn) at 50% 50%,var(--radial-gradient-blue));
  }

  40% {
    background: conic-gradient(from calc(var(--start-angle) + 144deg) at 50% 50%,var(--radial-gradient-blue));
  }

  42% {
    background: conic-gradient(from calc(var(--start-angle) + .42turn) at 50% 50%,var(--radial-gradient-blue));
  }

  44% {
    background: conic-gradient(from calc(var(--start-angle) + .44turn) at 50% 50%,var(--radial-gradient-blue));
  }

  46% {
    background: conic-gradient(from calc(var(--start-angle) + 165.6deg) at 50% 50%,var(--radial-gradient-blue));
  }

  48% {
    background: conic-gradient(from calc(var(--start-angle) + 172.8deg) at 50% 50%,var(--radial-gradient-blue));
  }

  50% {
    background: conic-gradient(from calc(var(--start-angle) + 180deg) at 50% 50%,var(--radial-gradient-gold));
  }

  52% {
    background: conic-gradient(from calc(var(--start-angle) + .52turn) at 50% 50%,var(--radial-gradient-gold));
  }

  54% {
    background: conic-gradient(from calc(var(--start-angle) + .54turn) at 50% 50%,var(--radial-gradient-gold));
  }

  56% {
    background: conic-gradient(from calc(var(--start-angle) + 201.6deg) at 50% 50%,var(--radial-gradient-gold));
  }

  58% {
    background: conic-gradient(from calc(var(--start-angle) + 208.8deg) at 50% 50%,var(--radial-gradient-gold));
  }

  60% {
    background: conic-gradient(from calc(var(--start-angle) + 216deg) at 50% 50%,var(--radial-gradient-gold));
  }

  62% {
    background: conic-gradient(from calc(var(--start-angle) + .62turn) at 50% 50%,var(--radial-gradient-blue));
  }

  64% {
    background: conic-gradient(from calc(var(--start-angle) + .64turn) at 50% 50%,var(--radial-gradient-blue));
  }

  66% {
    background: conic-gradient(from calc(var(--start-angle) + .66turn) at 50% 50%,var(--radial-gradient-blue));
  }

  68% {
    background: conic-gradient(from calc(var(--start-angle) + .68turn) at 50% 50%,var(--radial-gradient-blue));
  }

  70% {
    background: conic-gradient(from calc(var(--start-angle) + 252deg) at 50% 50%,var(--radial-gradient-blue));
  }

  72% {
    background: conic-gradient(from calc(var(--start-angle) + .72turn) at 50% 50%,var(--radial-gradient-blue));
  }

  74% {
    background: conic-gradient(from calc(var(--start-angle) + .74turn) at 50% 50%,var(--radial-gradient-gold));
  }

  76% {
    background: conic-gradient(from calc(var(--start-angle) + .76turn) at 50% 50%,var(--radial-gradient-gold));
  }

  78% {
    background: conic-gradient(from calc(var(--start-angle) + .78turn) at 50% 50%,var(--radial-gradient-gold));
  }

  80% {
    background: conic-gradient(from calc(var(--start-angle) + 288deg) at 50% 50%,var(--radial-gradient-gold));
  }

  82% {
    background: conic-gradient(from calc(var(--start-angle) + .82turn) at 50% 50%,var(--radial-gradient-gold));
  }

  84% {
    background: conic-gradient(from calc(var(--start-angle) + .84turn) at 50% 50%,var(--radial-gradient-gold));
  }

  86% {
    background: conic-gradient(from calc(var(--start-angle) + 309.6deg) at 50% 50%,var(--radial-gradient-blue));
  }

  88% {
    background: conic-gradient(from calc(var(--start-angle) + .88turn) at 50% 50%,var(--radial-gradient-blue));
  }

  90% {
    background: conic-gradient(from calc(var(--start-angle) + 324deg) at 50% 50%,var(--radial-gradient-blue));
  }

  92% {
    background: conic-gradient(from calc(var(--start-angle) + 331.2deg) at 50% 50%,var(--radial-gradient-blue));
  }

  94% {
    background: conic-gradient(from calc(var(--start-angle) + .94turn) at 50% 50%,var(--radial-gradient-blue));
  }

  96% {
    background: conic-gradient(from calc(var(--start-angle) + 345.6deg) at 50% 50%,var(--radial-gradient-blue));
  }

  98% {
    background: conic-gradient(from calc(var(--start-angle) + .98turn) at 50% 50%,var(--radial-gradient-blue));
  }
}

.glow-card {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

@media (max-width: 768px) {
  .glow-card--mobile {
    padding: 5px;
  }
}

.glow-card--mobile:before {
  content: "";
}

@media (min-width: 768px) {
  .glow-card:before {
    content: "";
  }
}

.glow-card--hover: before,.glow-card:hover: before {
  position: absolute;
  inset: 0;
  padding: 3px;
  background-image: none;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  background-image: conic-gradient(from var(--start-angle) at 50% 50%,var(--gradients));
  -webkit-animation: goldToblue-gradient-rotate 2s ease infinite;
  animation: goldToblue-gradient-rotate 2s ease infinite;
}
